<!-- middle === -->
<div class="statements-body">
	<div class="container">
	    <div class="row">
	        <div class="span12">
	            <div class="statements">
	                <img src="../images/statements/zhongbao01.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao02.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao03.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao04.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao05.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao06.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao07.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao08.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao09.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao10.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao11.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao12.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao13.png">
	            </div>
	            <div class="statements">
	                <img src="../images/statements/zhongbao14.png">
	            </div>
	        </div>
	    </div>
	</div>
</div>
<!-- middle === -->
