<!-- middle === -->
<div class="guarantee-middle">
    <div class="guarantee-container">
        <div class="container">
            <!--<div class="guarantee-guarantee">合作加盟</div>-->
            <div class="lend-box">
                <p><img src="../images/cooperation.jpg" height="304" width="1012"></p>
                <p class="lend-title">合作加盟</p>
                <div class="guarantee-main">
                    <div class="guarantee-title">加盟条件</div>
                    <ul>
                        <li>1、认可中宝财富运营模式和管理理念，愿意与中宝财富总部及其他加盟商共同发展。
                        </li>
                        <li>
                        2、具备一定资金实力，有能力组建专业运营团队。
                        </li>
                        <li>
                        3、具有良好的人脉关系，熟悉当地市场环境。
                        </li>
                        <li>
                        4、个体加盟者应当具备丰富管理经验和业务拓展能力，无违法犯罪记录。企业加盟者应当拥有合法营业执照。
                        </li>
                        <li>
                        5、拥有良好的创业心态和开拓精神，并具有企业长期发展规划。
                        </li>
                    </ul>
                    <div class="guarantee-title">加盟中宝财富的理由</div>
                    <ul>
                        <li><i class=" icon-star-empty"></i>&nbsp;新兴行业 潜力巨大</br>
                        随着国家金融政策的进一步开放，民间金融和互联网金融行业发展迅速。根据预测，2014年民间金融规模将达到万亿级别，互联网金融将突千亿大关。同时广大投资人越来越高的理财要求，将大量资金投向借贷市场，市场潜力极大。</li>
                        <li><i class=" icon-star-empty"></i>&nbsp;独创模式 优势领先</br>
                        中宝财富在行业内独创的P2C模式，让您加盟即可拥有最先进的运营模式，赢在起跑线。 中宝财富多年运营经验，让您轻松启动项目。</li>
                        <li><i class=" icon-star-empty"></i>&nbsp;风控体系  业界王牌</br>
                        中宝财富独家推出的“云风控”体系，让资金理论上达到了百分之百安全。本套体系的运作模式可以与加盟商进行共享，共同打造最安全的风控体系。</li>
                        <li><i class=" icon-star-empty"></i>&nbsp;专业系统 强力支持</br>
                        中宝财富根据多年从业经验，专门研发了网络借贷系统。该系统可以有效与“云风控”体系相结合，实现整个业务流程网络化。客户可以通过该系统进行投、融资，并可以对资产实行金融化管理。加盟中宝财富，加盟商即加入本系统，对业务管理更加便捷。</li>
                        <li><i class=" icon-star-empty"></i>&nbsp;运营支持 经营无忧</br>
                        公司拥有专业的运营团队，根据您的基本信息、当地市场环境，结合您的经营运作能力，为您提供切合实际的运营方案。同时法务及业务团队为您提供7X24小时专业服务，为您提供坚实有力的后盾。</li>
                        <li><i class=" icon-star-empty"></i>&nbsp;系统支持，运营无忧</br>
                        全程参与加盟者的经营过程，从市场分析、品牌导入、店面选址、店面形象、装修设计到开业筹备及营销推广、员工培训、后续经营等提供全方位的强势支持，让加盟者经营无忧、轻松做老板。</li>
                        <li><i class=" icon-star-empty"></i>&nbsp;资金共享，风险共担</br>
                        中宝财富可以为各级加盟商提供业务资金支持，供加盟商开展相关业务。同时，总部会分担加盟商的资金风险，利益共享、风险共担，双方互为利益共同体，共同做大做强。</li>
                    </ul>
                    <div class="guarantee-title">加盟支持</div>
                    <ul>
                        <li>
                        1、  加盟商可以使用中宝财富品牌，并可以获得总部品牌推广宣传。让加盟商可以立足一个较高的起点，坐享品牌发展红利。
                        </li>
                        <li>
                        2、  加盟商可以使用中宝财富的所有知识产权内容。包括不限于合同、法律文书、各类规章制度、企业宣传稿等。
                        </li>
                        <li>
                        3、根据加盟级别，中宝财富可以为每位加盟商提供不同额度的担保及资金支持，增强加盟商业务拓展能力，迅速做大做强。
                        </li>
                        <li>
                        4、总部将为每位加盟商配备专门的督导人员，协助加盟商开展业务，协调处理经营中遇到的各类问题，并代加盟商培训各级管理人员。
                        </li>
                        <li>
                        5、总部可以为加盟提供带店经营支持，协助加盟商拓展业务。
                        </li>
                    </ul>
                    <div class="guarantee-title">加盟流程</div>
                    <ul>
                        <li>
                        <img src="../images/flow.gif">
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- middle === -->
