<div class="guarantee-middle">
    <div class="guarantee-container">
        <div class="container">
            <div class="guarantee-guarantee">中宝财富</div>
            <div class="lend-box">
                <p class="lend-title">宝利丰出借计划</p>

                <div class="guarantee-main">
                    <p>宝利丰理财计划是中宝财富平台<a href="http://zhongbaodai.com/">（www.zhongbaodai.com）</a>推出的,以投资现有借款标（抵押标、担保标）为基础的安全、稳健、便捷的投标计划。加入宝利丰计划的资金可以优先投标，通过平台严格的标的把控能力，挑选出优质标的供计划内用户优先投标，精简了出借人投标的流程，降低了用户择标的苦恼，系统智能为客户分散投标，对于投资收益，用户可以选择自动提取或将回款资金循环复投，资金无闲置，实现收益最大化。</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>出借方式</th>
                                <th>出借期限</th>
                                <th>年收益</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>宝利通</td>
                                <td>1个月</td>
                                <td>7.5%</td>
                                <td><a href="/#!/account/deposit-new" class="button">立即投标</a></td>
                            </tr>
                            <tr>
                                <td>宝利达</td>
                                <td>3个月</td>
                                <td>9.5%</td>
                                <td><a href="/#!/account/deposit-new" class="button">立即投标</a></td>
                            </tr>
                            <tr>
                                <td>宝利顺</td>
                                <td>6个月</td>
                                <td>11%</td>
                                <td><a href="/#!/account/deposit-new" class="button">立即投标</a></td>
                            </tr>
                            <tr>
                                <td>宝利丰I</td>
                                <td>12个月</td>
                                <td>12.8%</td>
                                <td><a href="/#!/account/deposit-new" class="button">立即投标</a></td>
                            </tr>
                            <tr>
                                <td>宝利丰II</td>
                                <td>18个月</td>
                                <td>15%</td>
                                <td><a href="/#!/account/deposit-new" class="button">立即投标</a></td>
                            </tr>
                            <tr>
                                <td>宝利丰III</td>
                                <td>24个月</td>
                                <td>16%</td>
                                <td><a href="/#!/account/deposit-new" class="button">立即投标</a></td>
                            </tr>
                            <tr>
                                <td>宝利盈I</td>
                                <td>12个月</td>
                                <td>15%</td>
                                <td><a href="/#!/account/deposit-new" class="button">立即投标</a></td>
                            </tr>
                            <tr>
                                <td>宝利盈II</td>
                                <td>24个月</td>
                                <td>16%</td>
                                <td><a href="/#!/account/deposit-new" class="button">立即投标</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
