<!-- middle === -->
<div class="guarantee-middle">
    <div class="guarantee-container">
        <div class="container">
            <!--<div class="guarantee-guarantee">合作加盟</div>-->
            <div class="lend-box">
                <p><img src="../images/cooperation.jpg" height="304" width="1012"></p>
                <p class="lend-title">债权可转让</p>
                <div class="guarantee-main">
                    <div class="guarantee-title">债权可转让</div>
                    <ul>
                        <li>债权转让是中宝财富为更好地保障用户资金的流动性和便捷使用，为出借人提供的债权转让中介服务---债权持有人通过中宝财富债权转让平台将债权（个人出借剩余未还本金部分）挂出且与购买人签订《债权转让协议》，出借人可通过此服务将债权转让给其他出借人 ，以收回剩余本息，获得流动资金。
                        随时赎回，高流动性超便捷！资金灵活周转，出借、使用两不误。
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- middle === -->