<!-- middle === -->
<div class="guarantee-middle">
    <div class="guarantee-container">
        <div class="container">
            <!--<div class="guarantee-guarantee">合作加盟</div>-->
            <div class="lend-box">
                <p><img src="../images/cooperation.jpg" height="304" width="1012"></p>
                <p class="lend-title">八年借贷行业经验</p>
                <div class="guarantee-main">
                    <div class="guarantee-title">八年借贷行业经验</div>
                    <ul>
                        <li>八年来专注中小微企业发展贷款，拥有丰富的金融精英及法律团队。具备行业领先的风险管控能力，专业风控师业务把关。
                        </li>
                        <li>从业务源头压缩风险，从审核细节控制风险，用流程标准降低风险，用我们的专业消灭风险！</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- middle === -->

