<!-- middle === -->
<div class="guarantee-middle">
    <div class="guarantee-container">
        <div class="container">
            <!--<div class="guarantee-guarantee">合作加盟</div>-->
            <div class="lend-box">
                <p><img src="../images/cooperation.jpg" height="304" width="1012"></p>
                <p class="lend-title">9重安全保障  360度全方位安全保护</p>
                <div class="guarantee-main">
                    <div class="guarantee-title">9重安全保障  360度全方位安全保护</div>
                    <ul>
                        <li>一：信息保密及容灾备份</br>
                        <i class=" icon-star-empty"></i>&nbsp;银行级别的系统安全定位，数据加密及备份程序确保了备份数据源的可用性及历史数据的永久保存。另外，启用侵扰监测系统来监测那些内部和外部易受侵扰的路径，确保信息系统安全性。上述安全防护措施均为7*24小时不间断运转。</li>
                        <li>二：科学实用的云风控安全体系。</br>
                        <i class=" icon-star-empty"></i>&nbsp;完善的贷前尽职调查 ，贷中严密的审批环节及严谨的合同文本 贷后的跟踪管理、风险预警等措施确保项目的成功运营和资金安全。</li>
                        <li>三、物保及人保</br>
                        <i class=" icon-star-empty"></i>&nbsp;借款客户提供超额抵押物（房屋、汽车）或者关联大型企业法人或大股东联保，让还款多一重保障。</li>
                        <li>四：担保公司介入，本息全额保障</br>
                        <i class=" icon-star-empty"></i>&nbsp;担保公司对其担保的企业借款提供本息保障服务，在逾期7日内足额垫付。</li>
                        <li>五：风险保证金机制，逾期垫付。</li>
                        <li>六：分散投资，风险分散化。</li>
                        <li>七：严格的第三方资金监管。</br>
                        <i class=" icon-star-empty"></i>&nbsp;中宝财富运营与客户账户资金， 资金严格分离，不会将客户在支付平台账户内的资金用作任何非客户指示的用途；</li>
                        <li>八：债权转让系统，让您急用时不着急。</li>
                        <li>九：资产回购方如约回购逾期项目资产。</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- middle === -->
