<div class="july">
    <div class="july-banner">
        <img src="../../images/july/9banner.jpg">
    </div>
    <div class="july-one ">
    	<ul class="one-top container">
                <a href="#!/assignment">
                	<li>
                        <img src="../../images/july/zhuan.png" />
                        <p>债权转让</p>
                    </li>
                </a>
                <a href="#!/account/management/automatic">
                    <li>
                        <img src="../../images/july/zi.png" />
                        <p>自动投标</p>
                    </li>
                </a>
                <a href="#!/mall/index">
                    <li>
                        <img src="../../images/july/shang.png" />
                        <p>积分商城</p>
                    </li>
                </a>
            </ul>   
    </div>
    <div class="july-two">
		<img src="../../images/july/9-02.png">
    </div>
    <div class="july-three">
       <a href="/#!/account/management/invitation">
		  <img src="../../images/july/9-03.png">
       </a> 
    </div>
    <div class="july-fore">
		<img src="../../images/july/9-04.png">
    </div>
    <div class="july-five">
        <img src="../../images/july/9-05.png">
    </div>
    <div class="july-six">
    </div>
</div>
