<div class="may">
    <div class="may-banner">
        <img src="../images/may_banner.png">
    </div>
    <div class="may-one">
		<img src="../images/may_one.png">
    </div>
    <div class="may-one">
		<a href="/#!/account/management/invitation">
			<img src="../images/may_button.png">
		</a>
    </div>
    <div class="may-two">
		<img src="../images/may_two.png">
    </div>
    <div class="may-three">
		<img src="../images/may_three.png">
    </div>
    <div class="may-fore">
		<img src="../images/may_fore.png">
    </div>
</div>
