<!-- middle === -->
<div class="guarantee-middle">
    <div class="guarantee-container">
        <div class="container">
            <!--<div class="guarantee-guarantee">合作加盟</div>-->
            <div class="lend-box">
                <p><img src="../images/cooperation.jpg" height="304" width="1150"></p>
                <p class="lend-title">中小微借款服务</p>
                <div class="guarantee-main">
                    <div class="guarantee-title">企业贷：</div>
                    <ul>
                        <li>向中小微企业提供借款服务，帮助企业解决资金周转困境。</li>
                        <li>基本资料：营业执照、验资报告、企业（个人）信用报告、月对公对私流水不低于10万</li>
                        <li>借款期限：1、2、3、6、12个月</li>
                        <li>借款额度：5-500万</li>
                        <li>还款方式：1-3个月为一次性付息到期还本，6、12个月为每月等本等息还款</li>
                    </ul>
                    <div class="guarantee-title">商户贷：</div>
                    <ul>
                        <li>向有商铺经营、实体商品买卖的商户提供借款服务。</li>
                        <li>基本资料：个人信用报告、营业执照、商铺租赁合同、月流水或台账不低于4万</li>
                        <li>借款期限：1、2、3、6、12个月</li>
                        <li>借款额度：1-30万</li>
                        <li>还款方式：1-3个月为一次性付息到期还本，6、12个月为每月等本等息还款</li>
                    </ul>
                    <div class="guarantee-title">汽车贷：</div>
                    <ul>
                        <li>向拥有车辆所有权且该车辆在当地车管所登记的客户，提供借款服务。</li>
                        <li>基本资料：个人信用报告、机动车辆登记证、行车证、保险单</li>
                        <li>借款期限：1、2、3、6个月</li>
                        <li>借款额度：车辆评估价值的60%（含牌照）</li>
                        <li>还款方式：每月付息到期还本</li>
                    </ul>
                    <div class="guarantee-title">抵押贷：</div>
                    <ul>
                        <li>向在济南有房产且房产可以办理抵押登记手续，有资金需求的业主，提供借款业务。</li>
                        <li>基本资料：个人信用报告、房产证、月流水</li>
                        <li>借款期限：1、2、3、6个月</li>
                        <li>借款额度：房屋抵押评估价值的70%</li>
                        <li>还款方式：每月付息到期还本</li>
                    </ul>
                    <div class="guarantee-title">网业贷：</div>
                    <ul>
                        <li>向在互联网领域投资、创业、经营、扩大规模的网上商户，提供借款业务。</li>
                        <li>基本资料：个人信用报告、支付宝实名、销售简报、网店信用等级</li>
                        <li>借款期限：6、12个月</li>
                        <li>借款额度：0.5-20万</li>
                        <li>还款方式：每月等额本息还款</li>
                    </ul>
                    <div class="guarantee-title">菁英贷：</div>
                    <ul>
                        <li>向有固定工作、收入稳定且拥有良好信用记录的白领阶层，提供借款服务。</li>
                        <li>基本资料：个人信用报告、房产证、月打卡工资流水不低于4000元、居住证明</li>
                        <li>借款期限：12个月</li>
                        <li>借款额度：1-10万</li>
                        <li>还款方式：每月等额本息还款</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- middle === -->
