<!-- middle === -->
<div class="guarantee-middle">
    <div class="guarantee-container">
        <div class="container">
            <!--<div class="guarantee-guarantee">合作加盟</div>-->
            <div class="lend-box">
                <p><img src="../images/cooperation.jpg" height="304" width="1150"></p>
                <p class="lend-title">安全保障</p>
                <div class="guarantee-main">
                    <div class="guarantee-title">一：信息保密及容灾备份</div>
                    <ul>
                        <li>银行级别的系统安全定位、数据加密及备份程序确保了备份数据源的可用性及历史数据的永久保存。另外，启用安全监测系统来监测那些内部和外部易受侵扰的路径，确保信息系统安全性。上述安全防护措施均为7*24小时不间断运转。
                        </li>
                    </ul>
                    <div class="guarantee-title">二：科学实用的“云风控”（Cloud Risk Control）安全体系。</div>
                    <ul>
                        <li>中宝财富平台融合辐射性搜索、定向专业平台共享、网络计算、风险系数判断等高端风险控制的措施，并通过贷前完善的尽职调查、贷中严密的审批环节、严谨的合同文本、贷后的跟踪管理、风险预警等措施确保项目的成功运营和资金安全。
                        </li>
                    </ul>
                    <div class="guarantee-title">三：物保及人保</div>
                    <ul>
                        <li>借款客户提供超额抵押物（房屋、汽车）、关联大型企业及法人或大股东联保，使还款多一重保障。
                        </li>
                    </ul>
                    <div class="guarantee-title">四：担保公司介入，本息全额保障</div>
                    <ul>
                        <li>与有实力融资性担保公司深度合作，其对所担保的企业借款业务提供本息保障服务，在逾期7日内足额垫付，保障资金安全
                        </li>
                    </ul>
                    <div class="guarantee-title">五：与保险公司达成战略合作协议</div>
                    <ul>
                        <li>中宝财富平台针对不同的借款企业及个人购买其相对应的类型保险，承保借款企业的财产以及负责人的安全。
                        </li>
                    </ul>
                    <div class="guarantee-title">六：分散投资、组合投资、风险分散化</div>
                    <ul>
                        <li>将资金通过多标定投的方式进行出借，符合金融投资“不要把鸡蛋放在一个篮子里”的理念，能够避免集中投资的风险。
                        </li>
                    </ul>
                    <div class="guarantee-title">七：严格的第三方资金托管</div>
                    <ul>
                        <li>中宝财富平台已与上海富友金融网络技术有限公司关于第三方支付模式-金账户资金托管达成长期战略合作协议，资金流运行在第三方托管公司，而不经过平台的银行账户，能够有效避免平台挪用交易资金，给交易双方带来风险。
                        </li>
                    </ul>
                    <div class="guarantee-title">八：债权转让系统，让您急用时不着急</div>
                    <ul>
                        <li>债权转让是中宝财富平台为保障用户资金的流动性而提供的服务，即债权持有人通过债权转让平台将债权（个人出借剩余未还本金部分）公开转让，其他投资人进行认购并签订《债权转让协议》，债权持有人可通过此服务将债权转让给其他投资人 ，以收回剩余本息，获得流动资金。 随时赎回，流动性超高，灵活周转，出借、使用两不误。
                        </li>
                    </ul>
                    <div class="guarantee-title">九：与资产回购公司达成合作</div>
                    <ul>
                        <li>若汽车抵押业务出现逾期，按期由资产回购方如约回购，确保资金及时回收。
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- middle === -->

