<!-- middle === -->
<div class="guarantee-middle">
    <div class="guarantee-container">
        <div class="container">
            <!--<div class="guarantee-guarantee">合作加盟</div>-->
            <div class="lend-box">
                <p><img src="../images/cooperation.jpg" height="304" width="1150"></p>
                <p class="lend-title">新型模型</p>
                <div class="guarantee-main">
                    <ul>
                        <li>中宝财富网络借贷平台在原有P2P的基础下，建立了P2C新型理财模式，高效有力地打破了借款方的局限性。
                        </li>
                        <li>
                            P2P是英文peer to peer的缩写，意即“个人对个人”。虽然该模式有效地打破了传统银行的局限性，为个人提供了更便捷高效的借贷平台，但是在借款方的约束上也是不可忽视的。因此，中宝财富网络借贷平台在P2P模式的基础上结合实际业务的发展需要，建立了P2C新型理财模式，将借款方从个人拓展到有资金需求的中小微企业。
                        </li>
                        <li>
                            P2C是英文（person to company）的缩写，意即“个人对企业”,是一种个人与企业之间的融资借贷模式，P2C平台通过线下开发优质的中小微企业客户，并经过“云风控”安全体系审核，引进有实力的融资性担保机构对项目进行担保，同时，在线上通过互联网平台寻找普通投资者进行投资。这是一种安全、平等、高效、透明的互联网金融创新模式，是一种线上线下（O2O-Online to Offline）相结合的全新概念。该模式旨在撮合个人间的借贷拓展为个人与企业间的借贷。有资金需求的企业在平台上发布融资项目，出借人根据自身可承受风险能力决定是否对该融资项目进行出借。一般情况下，融资项目的资金由多人筹措而得。该模式解决了有资金需求的中小企业较难在短时间内筹集资金的难题，它对于解决中小企业短期资金周转具有重要意义。
                        </li>
                        <li>
                            中宝财富平台借助已有的网络借贷平台，结合线下与小额贷款公司、投资公司、担保公司、供应链企业、资产回购方的合作，发展小微金融理念，助力中小微企业发展。同时，通过强有力的“云风控”安全体系，对企业进行360度的尽职调查，包括互联网数据分析、融资企业的基本信息、经营状况、管理团队、信用级别、销售渠道、财务状况、发展前景等等，尽职调查，只有达到风险控制要求的项目才能放到线上。
                        </li>
                        <br/>
                        <li>
                        P2C+O2O（person to company+Onlie to Offline）是新型的理财模式，是P2P网贷的一个新方向。P2C模式是撮合个人与公司或企业的借贷模式。其模式是企业发布融资项目，出借人直接针对项目投标，资金由多人筹措而得，它对于解决中小企业的短期、应急贷款具有重要价值。该模式为线上线下结合模式，线下与小额贷款公司、投资公司、担保公司、资产回购方合作，发展小微金融理念，助力中小微企业发展。
                        </li>
                        <li>
                            p2C+O2O模式的特点:
                        </li>
                        <li>
                           （1）、交易透明化
                        </li>
                        <li>
                            在交易中，出借人与融资企业直接签署融资合同，互相了解对方的身份信息、信用信息、经营信息等，出借人可通过平台及时获知融资企业的还款进度和资金使用情况。
                        </li>
                        <li>
                           （2）、信用等级化
                        </li>
                        <li>
                           在审核中，出借人可以对融资企业的资信进行评估和选择，将融资企业的信用等级化。信用级别高的融资企业得到的融资额会较高，利率会比较优惠。
                        </li>
                        <li>
                           （3）、风险分散化
                        </li>
                        <li>
                           出借人将资金分散给多家融资企业，风险得到了最大程度的分散。
                        </li>
                        <li>
                           （4）资源整合、优化配置
                        </li>
                        <li>
                           与投资公司、小额贷款公司、担保公司、资产回购方合作，确保客户端高质量的同时，在还款端追加担保公司担保、资产回购方回购，确保投资 客户的资金顺利回款，使客户获取高额、稳健的回报。
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- middle === -->


