{% extends "base.html" %}
{% block content %}
{% include 'top_nav.html' %}
<div class="container">
    <div class="middle-title">
        <span class="middle-title-name">合作加盟</span>
    </div>
    <div class="middle-info-box">
        <img src="img/affiliate_banner.jpg" alt="affiliate_banner" />
        <div class="guarantee-second-title">一、合作模式</div>
        <p class="middle-info-text guarantee-text">
            1.1 甲方与乙方合作的模式主要有两种：加盟商合作模式和易简贷平台合作模式。 
        </p>
        <p class="middle-info-text guarantee-text">
            1.2 乙方可以同时选择两种模式进行合作，也可以只选择其中一种合作模式。
        </p>
        <div class="guarantee-second-title">二、加盟商合作模式</div>
        <p class="middle-info-text guarantee-text">
            2.1 该合作模式下，乙方在经营区域内可使用甲方“易简贷”品牌进行信贷中介服务业务宣传、开展信贷中介服务业务。
        </p>
        <p class="middle-info-text guarantee-text">
            2.2 乙方须负责提供开展业务的营业店面，甲方指导并监督乙方按照甲方连锁服务标识对乙方门店进行硬件购买安装、统一店面装潢和配套设施定做并指导乙方做好开店准备。
        </p>
        <p class="middle-info-text guarantee-text">
            2.3 甲方为乙方提供业务技能和管理培训，确保乙方人员能在合作区域内有效开展信贷中介业务。
        </p>
        <p class="middle-info-text guarantee-text">
            2.4 甲方通过网络、电话等方式为乙方提供长期的业务指导、信息服务，使乙方能够顺利地拓展业务。
        </p>
        <p class="middle-info-text guarantee-text">
            2.5 甲方有权对乙方的经营进行监督，乙方不得有非法经营、非正常经营、毁损甲方商誉、破坏加盟店统一形象、损害甲方合法权益的行为。
        </p>
        <p class="middle-info-text guarantee-text">
            2.6 甲方负责对乙方加盟店在易简贷网站、易简贷宣传品上做联合宣传及统一的“易简贷”品牌推广，提高加盟店的知名度。
        </p>
        <p class="middle-info-text guarantee-text">
            2.7 甲方将在力所能及的范围内全力支持乙方在合作区域内开展信贷中介服务业务。
        </p>
        <div class="guarantee-second-title">三、易简贷网贷平台合作模式</div>
        <p class="middle-info-text guarantee-text">
            3.1 该模式下，乙方选择与易简贷网贷平台进行合作。
        </p>
        <p class="middle-info-text guarantee-text">
            3.2易简贷网贷平台是提供民间借贷中介服务的专业性网站，域名www.ejiandai.com。易简贷平台通过与相关专业机构合作，利用互联网及电子认证技术手段，为资金供需双方提供信息发布、征信查询、合同管理、资金代管、投资担保、逾期催收等全方位服务，以促成民间借贷交易在透明、合法、安全的环境下得以便捷、高效地实现。
        </p>
        <p class="middle-info-text guarantee-text">
            3.3 乙方负责在合作区域内需找优质的借款人用户和投资人用户。
        </p>
        <p class="middle-info-text guarantee-text">
            3.4乙方可以将其推荐的借款人用户的借款信息发布在易简贷平台上，利用该平台可以将借款信息发送给包括易简贷注册用户在内的其他第三方，快速实现融资。
        </p>
        <p class="middle-info-text guarantee-text">
            3.5 乙方可以将其推荐的投资人用户在易简贷平台进行注册，同时该投资人可以对易简贷平台上发布的借款项目进行投资
        </p>
        <div class="guarantee-second-title">四、费用与收益</div>
        <p class="middle-info-text guarantee-text">
        4.1 在加盟商合作模式下，乙方需要向甲方支付一定的加盟费用（具体费用标准以双方签订的加盟合作协议约定为准）。
        </p>
        <p class="middle-info-text guarantee-text">
        4.2 在易简贷网贷平台合作模式下，乙方向易简贷平台推荐投资人用户和借款人用户，当投资人用户在平台投资成功或者借款人用户在平台借款成功时，乙方可以获得一定的收益（具体收益标准以双方签订的易简贷平台合作协议约定为准）。
        </p>
    </div>
</div>
{% endblock %}

