<footer class="footer" data-toggle-route="{&quot;match&quot;: [&quot;/login&quot;, &quot;/register&quot;, &quot;/forget&quot;], &quot;show&quot;: false}">
            <div class="foot-backg">
                <!-- 底部微信=== -->
                <div class="micro-letters" id="weChatBox" style="display:none;">
                    <div class="weixin weixin-center">
                        <div class="ui-close" id="weChatClose">×</div>
                        <img src="/images/weixin.jpg" height="149" width="149">
                        <p>微信“发现”扫一扫，中宝财富里动态全知道！</p>
                    </div>
                </div>
                <!-- 底部在线客服=== -->
                <div class="micro-letters" id="serviceBox" style="display:none;">
                    <div class="weixin weixin-center">
                        <div class="ui-close" id="serviceClose">×</div>
                        <ul class="zaixiankefu">
                            <li class="zaixian-top">工作时间:(9:00 ~ 22:00)</li>
                            <li>中宝财富官群：310271739</li>
                            <li>大宝理财： <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1471865291&amp;site=qq&amp;menu=yes" alt="点击这里给我发消息" title="点击这里给我发消息">1471865291</a></li>
                            <li>中宝官群： <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1801652226&amp;site=qq&amp;menu=yes" alt="点击这里给我发消息" title="点击这里给我发消息">1801652226</a></li>
                            <li>小宝理财： <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1284794337&amp;site=qq&amp;menu=yes" alt="点击这里给我发消息" title="点击这里给我发消息">1284794337</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 底部在线客服=== -->
                <div class="container friend-box clearfix">
                    <div class="youqing-txt clearfix">
                        <ul class="yq-ul">
                            <li>友情链接：</li>
                            
                            <li><a href="http://www.abstack.com/" target="_blank">抽象科技</a></li>
                            
                            <li><a href="http://weibo.com/wecae/" target="_blank">e财讯</a></li>
                            
                            <li><a href="http://www.erongtu.com/" target="_blank">融途网</a></li>
                            
                            <li><a href="http://www.p2peye.com/" target="_blank">网贷天眼</a></li>
                            
                            <li><a href="http://www.wangdaizhijia.com/" target="_blank">网贷之家</a></li>
                            
                        </ul>
                    </div>
                    <div class="intro clearfix">
                        <div class="youqing-txt-bottom clearfix visible-desktop ">
                            <ul class="youqing-txt-bottomleft clearfix">
                                <!-- ngRepeat: nav in bottomNavbar --><li ng-repeat="nav in bottomNavbar" class="ng-scope">
                                    <a ng-href="/#!/post/about/info" ng-bind="nav.name" class="ng-binding" href="/#!/post/about/info">关于我们</a>
                                </li><!-- end ngRepeat: nav in bottomNavbar --><li ng-repeat="nav in bottomNavbar" class="ng-scope">
                                    <a ng-href="/#!/post/security/introduction" ng-bind="nav.name" class="ng-binding" href="/#!/post/security/introduction">安全保障</a>
                                </li><!-- end ngRepeat: nav in bottomNavbar --><li ng-repeat="nav in bottomNavbar" class="ng-scope">
                                    <a ng-href="/#!/post/law/introduction" ng-bind="nav.name" class="ng-binding" href="/#!/post/law/introduction">法律法规</a>
                                </li><!-- end ngRepeat: nav in bottomNavbar --><li ng-repeat="nav in bottomNavbar" class="ng-scope">
                                    <a ng-href="/#!/post/help/zhongbao" ng-bind="nav.name" class="ng-binding" href="/#!/post/help/zhongbao">帮助中心</a>
                                </li><!-- end ngRepeat: nav in bottomNavbar --><li ng-repeat="nav in bottomNavbar" class="ng-scope">
                                    <a ng-href="/#!/post/trend/notice" ng-bind="nav.name" class="ng-binding" href="/#!/post/trend/notice">网站动态</a>
                                </li><!-- end ngRepeat: nav in bottomNavbar -->
                            </ul>
                            <ul class="youqing-txt-bottomcenter clearfix">
                                <li class="tit">客户服务：</li>
                                <li class="xl-wb">
                                    <a href="http://weibo.com/u/3656095522/home?topnav=1&amp;wvr=5" target="_blank" title="中宝新浪微博"></a>
                                </li>
                                <li class="wx" id="div-img">
                                    <a href="javascript:;" data-toggle-dialog="{&quot;box&quot;: &quot;#weChatBox&quot;, &quot;close&quot;: &quot;#weChatClose&quot;}"></a>
                                </li>
                                <li class="tx-wb">
                                    <a href="http://t.qq.com/zhongbaocaifu?preview" target="_blank" title="中宝腾讯微博"></a>
                                </li>
                                <li class="qy-qq">
                                    <a href="javascript:;" data-toggle-dialog="{&quot;box&quot;: &quot;#serviceBox&quot;, &quot;close&quot;: &quot;#serviceClose&quot;}" title="在线客服" target="_blank">
                                </a></li>
                            </ul>
                        </div>
                        <div class="youqing-txt-bottomright clearfix">
                            <ul>
                                <li>客服电话</li>
                                <li class="num ng-binding" ng-bind="platformConfig.phone">400-001-6788</li>
                                <li>24小时全天服务</li>
                            </ul>
                            <img src="/images/qrcode.png" height="80" width="80">
                        </div>
                    </div>
                    <div class="bangqiu">
                        <p class="ng-binding">CopyRight © 2013 中泉宝泰 品牌所有 <a href="http://www.miitbeian.gov.cn/" ng-bind="platformConfig.ICP" class="ng-binding">沪ICP备13041338号</a></p>
                        <div class="row">
                            <div class="span12">
                                <ul class="authenticate">
                                    <li class="xl-xin">
                                        <a href="https://ss.knet.cn/verifyseal.dll?sn=e14031131011547229jxxf000000&amp;comefrom=trust" target="_blank" title="#"></a></li>
                                    <li class="tx-wb">
                                    <a href="https://www.sgs.gov.cn/shaic/" target="_blank" title="#"></a></li>
                                    <li class="xl-wb">
                                        <a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.zhongbaodai.com&amp;lang=zh_cn" target="_blank"></a></li>
                                    <li class="wx" id="div-img">
                                    <a href="http://www.miitbeian.gov.cn/" title="#" target="_blank"></a></li>
                                    <li class="qy-not">
                                    <a href="http://www.shjbzx.cn/" title="#" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
