{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="login-container forget-container">
        <div class="entrance-box">
            <div class="middle-title">
                <span class="middle-title-name">找回用户密码</span>
            </div>
            <form class="form-inline" name="forgetForm" novalidate="novalidate">
                <table>
                    <tbody>
                    <tr>
                        <td class="text-right"><strong class="text-error">* </strong>已绑定手机：</td>
                        <td>
                            <input type='text' name="phone">
                            <button class="btn">获取验证码</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong class="text-error">* </strong>短信验证码：</td>
                        <td><input class="input-small" name="verifyCode" type="text" required="required" /></td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong class="text-error">* </strong>新密码：</td>
                        <td><input name="newPass" class="input-medium" type="password" required="required" /></td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong class="text-error">* </strong>确认新密码：</td>
                        <td><input name="confirmPass" class="input-medium" type="password" required="required" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p class="text-left text-error"> <span ></span></p>
                            <input type="submit" click="forget()" value="修改密码" class="btn btn-danger"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer%}

<div class="bottom">
    <div class="container">
            <p>CopyRight &copy; 2014 {{ SYSTEM_NAME }}投资 版权所有 <a href="http://www.miitbeian.gov.cn/" rel="nofollow">{{ SYSTEM_ICP }}</a></p>
    </div>
</div>
<a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4000311608&aty=2&a=2&curl=demo.ejdai.cn&ty=1" id="float-server" target="_blank" title="点击与易简贷客服对话">
    <i class="icon-comments"></i>
    在线客服
</a>

{% endblock %}
