{% extends "base.html" %}
{% block content %}
{% include 'top_nav.html' %}
<div class="container user-center-container">
    <div class="guide-box">
        <img src="img/guide_tree.jpg" alt="tree" class="pull-left"/>
        <h4>什么是易简贷</h4>
        <p class="clearfix">
            　　易简贷（www.ejiandai.com）网络借贷平台隶属于河北易简投资管理有限公司，本着"一方服务，两方收益，三方共赢"的宗旨，努力为广大投资者提供安全高效省心的理财服务。易简贷实行"线上申请，线下审核"的风控机制，承诺对每一笔贷款申请进行严格的线下审查，对投资者负责，对网站负责；为众多资金需求者提供快捷优惠的借款服务，打造中国最稳定最高效的网络贷款平台，实现三方共赢的目标。
        </p>
        <h4>新手引导</h4>
        <img src="img/guide_step.jpg" alt="guide" width="100%"/>
        <p>&nbsp;</p>
        <h5>为什么选择易简贷</h5>
        <p>
            <strong>成为理财人后，预期12%-20%的年化收益轻松实现，享受安全稳定的回报。</strong>
        </p>
        <h5>理财“零”门槛</h5>
        <p>
            <strong>只要您是18岁以上中国公民，最低50元就可以在易简贷进行理财。</strong>
        </p>
        <h5>多重安全保障措施</h5>
        <p>   
            <strong>易简贷拥有权威第三方担保机构及风险备用金双重保障，保证理财人的资金安全。</strong>
        </p>
        <h5>资金灵活周转</h5>
        <p>
            <strong>不用担心较长的资金锁定期，您可以进行债权转让，快速收回资金。</strong>
        </p>
        <h4>新手疑问</h4>
        <h5>01）手机绑定号码以后，可不可以更换呢？</h5>
        <p>尊敬的易简贷用户，您好！已经绑定的手机号码可以通过原手机验证进行修改，如原手机不能进行验证，建议您联系网站客服人员帮您修改。</p>
        <h5>02）易简贷平台处理提现多久可以到账？</h5>
        <p>尊敬的易简贷用户，您好！为了有效给客户提供高效、便捷的服务，易简贷每天15:00处理预约提现，当日内均可到账。</p>
        <h5>03）注册之后，想修改用户名、姓名、身份证可以吗？</h5>
        <p>尊敬的易简贷用户，您好！注册账户完成后，用户名将无法进行修改；一旦确认通过身份认证后将无法修改名字和身份证号码哦。</p>
        <h5>04）假如出现逾期不还，易简贷平台如何处理？</h5>
        <p>尊敬的易简贷用户，您好！易简贷平台相关项目都是与第三方担保公司合作的真实项目，平台还款前一周担保公司会与借款人联系，并在还款前三天进行还款操作；假设还款前一天资金仍未支付，担保公司会在还款当天垫付资金，确保理财人资金安全。</p>
        <a name="fee" id="fee"></a>
        <h4>收费标准</h4>
        <p class="text-center"><img src="img/guide_table.jpg" alt="table" /></p>
    </div>
</div>
{% endblock %}

