{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="middle-info-box lend-info-box">
        <div class="lend-banner">
            <a href="/lend" rel="nofollow" class="btn btn-success btn-large btn-lend-introduction pull-right">发布融资申请 <i class="icon-double-angle-right"></i></a>
        </div>
        
        <p class="text-center">
            <img src="img/lend_lead.jpg" alt="lend_lead"/>
        </p>
        <p>&nbsp;</p>
        <div class="container">
            <div class="span4">
                　 <img src="img/lend_info_pic.jpg" alt="lend_info" />
            </div>
            <div class="span7">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h4 class="text-info">服务特点：</h4>
                　　{{ SYSTEM_NAME }}投资平台，以现代信息技术为借贷双方提供快捷的交流平台，使其可以通过网络进行信息交流，从而达到借贷意向。平台贷款审批额度高、利率低、速度快捷便利、还款方式灵活多样，满足不同层次客户和其所要求的不同性质的信贷服务。通过创新规划、项目设计，提供有竞争力的融资成本及高效、便捷的融资服务，为您的事业插上腾飞的翅膀。
            </div>
        </div>
    </div>
</div>
{% endblock %}

