<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>中宝财富</title>
	<link rel="stylesheet/less" type="text/css" href="/static/css/main.less">
	<script type="text/javascript" src="/static/js/jQuery.min.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type="text/javascript" src="/static/js/less.js"></script>
</head>
<body>
	<!--顶部及导航-->
	<div class="top-main">
		<div class="top-bg"></div>
		<div class="top-nav">
			<ul class="top-navlist">
				<li><a href="index.html">我的P2P</a></li>
				<li><a href="product.html">鼎泰资本</a></li>
				<li><a href="example.html">招商加盟</a></li>
				<li><a href="about.html">关于我们</a></li>
			</ul>
			<a href="index.html"><img src="/static/images/LOGO.png" /></a>
		</div>
	</div>
	<!--Banner切换部分-->
	<div class="bannerMain">
		<ul id="bannerImgList">
			<li style="z-index:5;"><a href="javascript:;"><img src="/static/images/banner.jpg" /></a></li>
			<li><a href="javascript:;"><img src="/static/images/banner.jpg" /></a></li>
		</ul>
		<ul id="bannerSelectList">
			<li class="current"></li>
			<li></li>
		</ul>
	</div>
	<!--成功案例及公司简介-->
	<div class="middleMain">
		<a href="#">
		<div class="middle-matter dev-box">
			<div class="middle-text dev-infobox">
			<p><img src="/static/images/arrows.png" height="37" width="37"></p>
				业内顶尖的“云风控”系统保护资金安全<br />
				革命性的独创了P2C+O2O模式<br />
				让收益超乎你的想象<br />
			</div>
		</div>
		</a>
		<a href="#">
		<div class="middle-matter safe-box">
			<div class="middle-text safe-infobox">
			<p><img src="/static/images/arrows.png" height="37" width="37"></p>
				只需要提供您的需求<br />
				剩下的事情交给我们<br />
				来中宝借贷，省钱省心更省成本<br />
			</div>
		</div>
		</a>
		<a href="#">
		<div class="middle-matter opt-box">
			<div class="middle-text opt-infobox">
			<p><img src="/static/images/arrows.png" height="37" width="37"></p>
				多年的业务实操经验<br />
				业务领先的运营管理系统<br />
				牵手行业龙头得到的更多<br />
			</div>
		</div>
		</a>
	</div>
	<!--bottom版权部分-->
	<div class="bottom-main">
		<div class="bottom-logo">
			<h5>中宝的合作伙伴们</h5>
			<ul>
				<li><a href="#">
					<img src="/static/images/zhongbao-logo.jpg">
				</a></li>
			</ul>
		</div>
		<p>CopyRight©2014 中宝财富 版权所有</br>
		鲁 ICP备 1232132132 号</p>
	</div>
</body>
</html>
