{% extends "base.html" %}
{% block content %}
<ul>
    <li><a href="/">首页</a></li>
    <li><a href="/invest/list/">我要投资</a></li>
    <li><a href="/user" rel="nofollow">账户中心</a></li>
    <li><a href="/affiliate">合作加盟</a></li>
    <li><a href="/post/about/info">关于我们</a></li>
</ul>
<div class="fold-nav post-fold-nav">
    <a href="/post/help/yjd"  class="active" class="fold-nav-title active" href="/post/help/yjd">
        <i class="postNav.icon" class="icon-large icon-group"></i>
        关于易简贷
    </a>
    <a href="/post/help/entrance" class="active" class="fold-nav-title" href="/#/post/help/entrance">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        注册和登录
    </a>
    <a href="/post/help/finace-handle" class="active" class="fold-nav-title" href="/#/post/help/finace-handle">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        充值和提现
    </a>
    <a href="/post/help/rate-fee" class="active" class="fold-nav-title" href="/#/post/help/rate-fee">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        利息和费用
    </a>
    <a href="/post/help/security" class="active" class="fold-nav-title" href="/#/post/help/security">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        安全认证管理
    </a>
    <a href="/post/help/invest-manage" class="active" class="fold-nav-title" href="/#/post/help/invest-manage">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        投资理财管理
    </a>
    <a href="/post/help/explain" class="active" class="fold-nav-title" href="/#/post/help/explain">
        <i class="postNav.icon" class="icon-large icon-book"></i>
        名词解释
    </a>
</div>
<p class="user-right-title">安全认证管理</p>
<div class="user-right-add-box post-detail-box">
    <div data-accordion class="post-accordion">
        <div accordion-group>
            <div accordion-heading>
            1.为什么要做实名认证？
            </div>
            实名认证有两个原因，首先是确保您所绑定的银行账户是否属于您本人，这样就为确保您的资金安全增加了一道保障，账户中的资金只可能被提现到您本人的银行卡中。其次是为了保证线上的每个用户名都在后台有真实的身份对应关系，且都是一一对应的，而这种对应关系保证了您在投资后所得到的电子合同的合法性。您需要在首次充值前进行实名认证，以便于系统在您提现时校验您的身份。实名认证仅需您输入您的身份证号及姓名，全过程仅需10秒钟，非常简单，易简贷对于所有用户资料将严格保密。 
        </div>
        <div accordion-group>
            <div accordion-heading>
            2.为什么要绑定手机和邮箱？ 
            </div>
            通过绑定手机和邮箱，可以提高您账户的安全级别，并及时得到在易简贷进行操作的信息，随时掌控账户动态。
        </div>
        <div accordion-group>
            <div accordion-heading>
            3.借款人出现逾期、坏账和不还钱怎么办？
            </div>
            如果借款人出现逾期或坏账，对该借贷行为担保的担保机构对每笔借款提供不可撤销的全额本息担保，担保机构会在贷款到期日之后的第二个工作日代向投资人偿付所有剩余本金及利息。然后担保机构自行负责之后的追偿，催收工作。投资者不会承担任何损失，安全无风险。
        </div>
        <div accordion-group>
            <div accordion-heading>
            4.易简贷平台如果不存在了，投资者的收益如何保障？
            </div>
            易简贷作为信息中介平台，主要职能是交易撮合，即使平台不存在，首先投融双方的债权债务关系不会消失，其次担保公司会负责投资人的全额本息担保，最后第三方支付平台有通道保证还本付息的资金会在项目到期日自动划转到投资人之前在易简贷平台上绑定的银行账户中。
        </div>
        <div accordion-group>
            <div accordion-heading>
            5.如何设置密码更安全？
            </div>
            （1）密码要保密且定期更改。<br/>
            （2）请使用较长、复杂的字母数字组合以提高密码强度，不要用生日等容易被别人猜中的密码。<br/>
            （3）如果使用了密码取回功能，请您及时删除我们发送给您的载有验证码的短信。<br/>
            （4）请记住不要与任何人共享您的密码。如果您已经与他人共享了密码，我们强烈建议您尽快更改。
        </div>
        <div accordion-group>
            <div accordion-heading>
            7.为什么进行安全认证？
            </div>
            为了保障用户资金的安全性和合同的有效性，易简贷要求所有理财人及借款人必须通过身份证绑定、手机绑定以及提现密码设置。安全认证的过程简单便捷，易简贷对于所有个人资料均作严格保密。
        </div>
        <div accordion-group>
            <div accordion-heading>
            8.如何进行安全认证？
            </div>
            登录易简贷页面，选择“帐户中心”- “账户管理”-“认证安全”，即可进行安全认证。
        </div>
        <div accordion-group>
            <div accordion-heading>
            9.实名验证失败怎么办？
            </div>
            首先请确保您填写的实名认证信息是正确的。实名验证失败可能是由于您近期办理户籍变迁或者您是军人和非大陆居民导致的，我们是跟公安部门信息直接对接的，您的信息可能还没有及时更新。您不用担心，鉴于这种情况，我们建议您使用家人的身份证件进行验证。如有疑问，请联系我们的客服（4000311608）。
        </div>
        <div accordion-group>
            <div accordion-heading>
            10.实名认证成功后，是否可以更改真实姓名、证件号码？
            </div>
            不可以。
        </div>
        <div accordion-group>
            <div accordion-heading>
            11.平台一旦受到黑客攻击系统瘫痪怎么办？
            </div>
            易简贷为确保投资人在平台上投资的安全性，采用了更为安全的超文本传输技术（https）。网站传输数据都用公钥进行加密，必须使用私钥来解密，即使黑客截取了用户的数据包，也无法读取数据内容。大大提高了投资人资金操作的安全性。国内外的很多知名网站都使用相同的技术，例如Amazon、淘宝以及各种网上银行及电子交易网站。<br/>
            此外，易简贷采用的是银行级别的软硬件系统安全机制。全部的交易流水信息均实时秒级同步备份，应用、数据、服务功能隔离。即便遭受攻击，系统也可以恢复至受攻击前的状态，投资人的任何信息都不会丢失。
        </div>
    </div>
</div>
{% endblock %}
