{% extends "base.html" %}
{% block content %}
<ul>
    <li><a href="/">首页</a></li>
    <li><a href="/invest/list/">我要投资</a></li>
    <li><a href="/user" rel="nofollow">账户中心</a></li>
    <li><a href="/affiliate">合作加盟</a></li>
    <li><a href="/post/about/info">关于我们</a></li>
</ul>
<div class="fold-nav post-fold-nav">
    <a href="/post/help/yjd"  class="active" class="fold-nav-title active" href="/post/help/yjd">
        <i class="postNav.icon" class="icon-large icon-group"></i>
        关于易简贷
    </a>
    <a href="/post/help/entrance" class="active" class="fold-nav-title" href="/#/post/help/entrance">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        注册和登录
    </a>
    <a href="/post/help/finace-handle" class="active" class="fold-nav-title" href="/#/post/help/finace-handle">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        充值和提现
    </a>
    <a href="/post/help/rate-fee" class="active" class="fold-nav-title" href="/#/post/help/rate-fee">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        利息和费用
    </a>
    <a href="/post/help/security" class="active" class="fold-nav-title" href="/#/post/help/security">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        安全认证管理
    </a>
    <a href="/post/help/invest-manage" class="active" class="fold-nav-title" href="/#/post/help/invest-manage">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        投资理财管理
    </a>
    <a href="/post/help/explain" class="active" class="fold-nav-title" href="/#/post/help/explain">
        <i class="postNav.icon" class="icon-large icon-book"></i>
        名词解释
    </a>
</div>
<p class="user-right-title">利息和费用</p>
<div class="user-right-add-box post-detail-box">
    <div data-accordion class="post-accordion">
        <div accordion-group>
            <div accordion-heading>
            1.借款利息从什么时候开始计算？
            </div>
            易简贷投资标的的计息时间将从满标的第二天起算，利率按照所投项目的年化收益计算。即，投资人从满标日就能开始享受项目的年化收益。
        </div>
        <div accordion-group>
            <div accordion-heading>
            2、理财人充值如何收费？
            </div>
            对于易简贷的理财投资人，充值费用暂由易简贷垫付，因此理财人充值无需承担任何费用。
        </div>
        <div accordion-group>
            <div accordion-heading>
            3、提现如何收费？
            </div>
            提现由第三方支付公司收取，费用如下：2元/笔（单笔限额20万）。 <br/>用户发起、并在平台审核之后，可在T+1即第二个工作日(节假日顺延)到达用户指定银行卡账户。
        </div>
        <div accordion-group>
            <div accordion-heading>
            4、客户充值未投资的部分资金提现时，平台是否扣费？
            </div>
            为防止信用卡套现，恶意转账等行为，客户充值未投资的部分资金提现时，平台扣取用户充值未投资金部分千分之三的费用。
        </div>
        <div accordion-group>
            <div accordion-heading>
            5、理财资金管理费如何收取？
            </div>
            易简贷会收取投资人收益的10%做为利息管理费，现阶段平台暂不收取此项费用。
        </div>
        <div accordion-group>
            <div accordion-heading>
            6、VIP服务费如何收取？
            </div>
            易简贷平台运营初期，所有注册会员均享受网站VIP服务。后续费用暂定200/年，提供相关服务制度。
        </div>
        <div accordion-group>
            <div accordion-heading>
            7、贷款人提前返还，违约金如何收取？
            </div>
            贷款人如解决资金困难，提前还款给平台，应支付当月所需本息、借款剩余本金加上贷款总金额1%的违约金。违约金将按投资比例返还至投资人账户，平台不参与违约金罚款。
        </div>
        <div accordion-group>
            <div accordion-heading>
            8、如发生逾期，逾期罚息如何收取？
            </div>
            项目若逾期，借款人每天应支付逾期金额的0.5‰做为罚息。
        </div>
    </div>
</div>
{% endblock %}
