{% extends "base.html" %}
{% block content %}
<ul>
    <li><a href="/">首页</a></li>
    <li><a href="/invest/list/">我要投资</a></li>
    <li><a href="/user" rel="nofollow">账户中心</a></li>
    <li><a href="/affiliate">合作加盟</a></li>
    <li><a href="/post/about/info">关于我们</a></li>
</ul>
<div class="fold-nav post-fold-nav">
    <a href="/post/help/yjd"  class="active" class="fold-nav-title active" href="/post/help/yjd">
        <i class="postNav.icon" class="icon-large icon-group"></i>
        关于易简贷
    </a>
    <a href="/post/help/entrance" class="active" class="fold-nav-title" href="/#/post/help/entrance">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        注册和登录
    </a>
    <a href="/post/help/finace-handle" class="active" class="fold-nav-title" href="/#/post/help/finace-handle">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        充值和提现
    </a>
    <a href="/post/help/rate-fee" class="active" class="fold-nav-title" href="/#/post/help/rate-fee">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        利息和费用
    </a>
    <a href="/post/help/security" class="active" class="fold-nav-title" href="/#/post/help/security">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        安全认证管理
    </a>
    <a href="/post/help/invest-manage" class="active" class="fold-nav-title" href="/#/post/help/invest-manage">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        投资理财管理
    </a>
    <a href="/post/help/explain" class="active" class="fold-nav-title" href="/#/post/help/explain">
        <i class="postNav.icon" class="icon-large icon-book"></i>
        名词解释
    </a>
</div>
<p class="user-right-title">关于易简贷</p>
<div class="user-right-add-box post-detail-box">
    <div data-accordion class="post-accordion">
        <div accordion-group>
            <div accordion-heading>
            1.易简贷提供什么服务？
            </div>
            易简贷（http://www.ejiandai.com）是河北易简投资管理有限公司开发运营的专业P2P互联网理财平台。面向广大投资群体，提供安全、有担保、高收益的互联网理财服务。助您实现个人财富的保值增值，快一步达成梦想。
        </div>
        <div accordion-group>
            <div accordion-heading>
            2.在易简贷投资有什么优势？
            </div>
            易简贷投资平台具有以下优势：<br/>
            （1）安全性：易简贷平台与专业担保机构合作，由担保公司提供严格的风控审核并进行 担保，项目全部为抵押项目，确保了平台项目安全。用户资金均在第三方平台监管，提供交易记录，资金安全性存在保障。<br/>
            （2）高收益：易简贷平台预期年化收益率在12%-18%，是银行定期存款的5倍。<br/>
            （3）灵活性：平台推出债权转让规则，您可以在投资三个月后，转让自己的债券，回收资金。<br/>
            （4）低门槛：只要100元您就可以尝试在易简贷进行投资，开启您的理财之旅。
        </div>
        <div accordion-group>
            <div accordion-heading>
            3.易简贷投资是否合法？
            </div>
            易简贷为合法的民间借贷提供撮合借贷双方形成借贷关系的居间服务。根据《合同法》第23章第424条的规定，作为一个网络信用管理及借贷服务中介机构，其业务范围和经营活动完全符合相关法律和国家的政策规定。同时，易简贷聘请了最专业的法律顾问，确保业务合法合规。
        </div>
        <div accordion-group>
            <div accordion-heading>
            4.我在易简贷的资金安全吗？
            </div>
            为保证会员的资金安全，易简贷采用多管齐下的资金管理制度：<br/>
            1) 委托第三方机构对会员资金进行管理；<br/>
            2) 会员可以随时查询易简贷账户详情，账户资金只能转出到易简贷绑定的您实名认证下的银行账号；<br/>
            3) 易简贷内部制定了严格的资金管理流程和完善的系统，进行监督监控，降低操作风险。
        </div>
        <div accordion-group>
            <div accordion-heading>
            5.在易简贷投资，如何保障安全？
            </div>
            易简贷通过引入大型融资性担保公司，为借款企业提供连带责任担保。凭借担保公司丰富担保经验，担保公司负责对借款企业进行的实地考察、风控审核、抵押物处置，并承诺优先将本金、利息偿付给投资人。为投资人提供“看得见摸得着”的安全保障。
        </div>
        <div accordion-group>
            <div accordion-heading>
            6.易简贷是如何保护用户隐私和资料安全的？
            </div>
            易简贷真正关注用户个人隐私和数据安全，我们采取国际标准的SSL安全加密技术保障数据传输安全。保护用户的隐私和数据安全是我们最重要的责任之一，严格按照隐私条款保护全部注册用户的信息。易简贷采用的是银行级别的软硬件系统安全机制，全部的交易流水信息均实时秒级同步备份，来确保隐私和资料的安全。
        </div>
        <div accordion-group>
            <div accordion-heading>
            7.易简贷的理财收益如何？
            </div>
            易简贷提供的理财产品的预期收益率约为 12~18%，高于大多数银行理财产品，数倍于银行定期存款。
        </div>
        <div accordion-group>
            <div accordion-heading>
            8.易简贷的理财产品有合同吗？合同有效吗？
            </div>
            易简贷会为每个理财产品生成一份 PDF 格式的电子合同。电子合同会在项目成立的时候生成，您可以在易简贷页面选择账户中心，在投资记录中随时下载合同。 <br/>1999年10月1日起实施的《合同法》第十一条规定: 书面形式合同是指合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等可以有形地表现所载内容的形式。因此电子合同属于书面形式的合同一种，是受到法律保护的。易简贷中的合同文本都由经济法律师起草，确保通过易简贷的所有交易都具备法律效力。
        </div>
        <div accordion-group>
            <div accordion-heading>
            9.投资前应该注意些什么？
            </div>
            无论您是投资新手还是老手，在每次投资前，请务必做到：<br/>
            （1）对本网站的基本运作原理有所了解，相关内容，请仔细阅读新手指导。<br/>
            （2）仔细阅读产品说明书，包括项目的发行机构、贷款金额、利率、投资期限、安全保障方式等信息，以确定该产品符合您的风险承受能力、投资回报率和流动性等方面的实际情况。<br/>
            （3）请核实投资金额，确认无误后再进行操作。
        </div>
        <div accordion-group>
            <div accordion-heading>
            10.我在易简则贷平台注册完后先干什么？
            </div>
            （1）我们建议投资人完成注册后，先进入新手指引了解平台的主要流程。<br/>
            （2）在了解了平台的原理及功能后，投资人可以去安全策略看一看，了解一下为什么投资人在易简贷投资可以100%放心。<br/>
            （3）对平台有了初步了解后，投资人可以进入我要投资页面浏览、选择借款项目。<br/>
            （4)我们建议您也可以加入易简贷官方QQ群、微信群、微博与平台其他投资人进行深度交流。
        </div>
        <div accordion-group>
            <div accordion-heading>
            11.易简贷客户服务热线及收费方式、服务时间是什么？
            </div>
            我们的服务热线是：400-0311-608，您仅需支付本地通话费用，不受地理限制；<br/>
            客服热线的工作时间是全年365天，每日9：00-21：00。
        </div>
    </div>
</div>
{% endblock %}

