<div class="fold-nav post-fold-nav">
    <a class="active" class="fold-nav-title active" href="/post/site-notice/notice">
        <i class="postNav.icon" class="icon-large icon-group"></i>
        网站公告
    </a>
    <a class="active" class="fold-nav-title" href="/post/site-notice/project">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        发标公告
    </a>
    <a class="active" class="fold-nav-title" href="/post/site-notice/activity">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        活动公告
    </a>
    <a class="active" class="fold-nav-title" href="/post/site-notice/report">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        媒体报道
    </a>
</div>

