<div class="fold-nav post-fold-nav">
    <a class="active" class="fold-nav-title active" href="/post/about/info">
        <i class="postNav.icon" class="icon-large icon-group"></i>
        公司简介
    </a>
    <a class="active" class="fold-nav-title" href="/post/about/lead">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        新手引导
    </a>
    <a class="active" class="fold-nav-title" href="/post/about/safe">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        安全保障
    </a>
    <a class="active" class="fold-nav-title" href="/post/about/rule">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        政策法规
    </a>
    <a class="active" class="fold-nav-title" href="/post/about/principle">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        平台原理
    </a>
    <a class="active" class="fold-nav-title" href="/post/about/contact">
        <i class="postNav.icon" class="icon-large icon-book"></i>
        联系我们
    </a>
</div>

