{% extends "base.html" %}
{% block content %}
{% include 'top_nav.html' %}
<div class="fold-nav post-fold-nav">
    <a href="/post/help/yjd"  class="active" class="fold-nav-title active" href="/post/help/yjd">
        <i class="postNav.icon" class="icon-large icon-group"></i>
        关于易简贷
    </a>
    <a href="/post/help/entrance" class="active" class="fold-nav-title" href="/#/post/help/entrance">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        注册和登录
    </a>
    <a href="/post/help/finace-handle" class="active" class="fold-nav-title" href="/#/post/help/finace-handle">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        充值和提现
    </a>
    <a href="/post/help/rate-fee" class="active" class="fold-nav-title" href="/#/post/help/rate-fee">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        利息和费用
    </a>
    <a href="/post/help/security" class="active" class="fold-nav-title" href="/#/post/help/security">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        安全认证管理
    </a>
    <a href="/post/help/invest-manage" class="active" class="fold-nav-title" href="/#/post/help/invest-manage">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        投资理财管理
    </a>
    <a href="/post/help/explain" class="active" class="fold-nav-title" href="/#/post/help/explain">
        <i class="postNav.icon" class="icon-large icon-book"></i>
        名词解释
    </a>
</div>
<p class="user-right-title">充值和提现</p>
<div class="user-right-add-box post-detail-box">
    <div data-accordion class="post-accordion">
        <div accordion-group>
            <div accordion-heading>
            1. 有哪些方式可以给账户充值？
            </div>
            可以通过网上银行或第三方支付进行账户充值。
        </div>
        <div accordion-group>
            <div accordion-heading>
            2. 如何申请开通网上银行？
            </div>
            目前所有的商业银行都支持个人网银业务，您只需要携带有效身份证件，到当地您所持银行卡的发卡行任意营业网点，即可申请开通网上银行业务。
        </div>
        <div accordion-group>
            <div accordion-heading>
            3.如何绑定银行卡？
            </div>
            登录易简贷页面，进入”账户中心”-“帐户管理”-“银行卡信息”页面，提供银行卡号、银行名称添加并保存，方便您之后提现操作的同时保障您的账户安全。<br/>
            注意：请确保您填写的银行账号的开户人姓名和您在易简贷实名认证的真实姓名一致，否则提现无法成功。
        </div>
        <div accordion-group>
            <div accordion-heading>
            4. 如何给我的账户充值？
            </div>
            （1）登录易简贷页面，进入“帐户中心”-“资金管理”-“充值”，输入要充值的金额，点击充值按钮。<br/>
            （2）选择付款银行，点击确认按钮，按提示完成付款。<br/>
            （3）显示成功付款后，跳转到易简贷充值页面，显示充值成功。<br/>
            （4）您可以通过资金记录查看充值的金额及历史记录。
        </div>
        <div accordion-group>
            <div accordion-heading>
            5. 如何提取现金？
            </div>
            登录易简贷页面，进入“帐户中心”-“资金管理”-“提现”，输入要提现的金额、交易密码及短信验证码，点击“申请提现”按钮即可。<br/>
            温馨提示：请提供申请提现的银行卡账号，并确保该账号的开户人姓名和您在易简贷上提供的身份证上的真实姓名一致，否则无法成功提现。
        </div>
        <div accordion-group>
            <div accordion-heading>
            6.提现需要多长时间？
            </div>
            在您的提现申请提交后，易简贷的工作人员将会尽快进行转账操作，确保您的资金在下一个工作日内进入您的银行账户。易简贷实行T+1(T是工作日)到账机制，非工作日申请的提现需求将统一会在工作日第一天进行。
        </div>
        <div accordion-group>
            <div accordion-heading>
            7. 为什么我申请取现失败？
            </div>
            造成您取现失败的原因可能有以下几种：<br/>
            （1）易简贷账号未绑定本人身份证。<br/>
            （2）银行账号/用户名错误，或是账号和用户名不符。<br/>
            （3）使用信用卡提现。<br/>
            （4）银行账户冻结或正在办理挂失。<br/>
            如果遇到以上情况，我们会在收到支付机构转账失败的通知后解除您的资金冻结（手续费不退还），请您不必担心资金安全。
        </div>
        <div accordion-group>
            <div accordion-heading>
            8.为什么网上银行充值成功，但是易简贷帐号里面的余额却没有增加？
            </div>
            由于在同一时间使用同一个第三方充值账户端口充值的人可能非常多，在某些时候会造成网银显示与易简贷账号金额不同步的情况。如果遇到这种情况请您将网银付款成功的页面截图，然后刷新易简贷账户页面。如果刷新未能解决问题，请您致电客服 4000311608，客服专员会指导发送截图并马上处理您的问题。
        </div>
        <div accordion-group>
            <div accordion-heading>
            9.投资的时候为什么资金会冻结？
            </div>
            在您确认投资后且借款项目还未满额时，您的资金将会被短暂冻结，当借款项目满额的时候，投资人的投资就会生效。被冻结的资金仍然在您的托管账户中。
        </div>
    </div>
</div>
{% endblock %}
