{% extends "base.html" %}
{% block content %}
{% include 'top_nav.html' %}
<div class="fold-nav post-fold-nav">
    <a href="/post/help/yjd"  class="active" class="fold-nav-title active" href="/post/help/yjd">
        <i class="postNav.icon" class="icon-large icon-group"></i>
        关于易简贷
    </a>
    <a href="/post/help/entrance" class="active" class="fold-nav-title" href="/#/post/help/entrance">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        注册和登录
    </a>
    <a href="/post/help/finace-handle" class="active" class="fold-nav-title" href="/#/post/help/finace-handle">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        充值和提现
    </a>
    <a href="/post/help/rate-fee" class="active" class="fold-nav-title" href="/#/post/help/rate-fee">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        利息和费用
    </a>
    <a href="/post/help/security" class="active" class="fold-nav-title" href="/#/post/help/security">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        安全认证管理
    </a>
    <a href="/post/help/invest-manage" class="active" class="fold-nav-title" href="/#/post/help/invest-manage">
        <i class="postNav.icon" class="icon-large icon-question"></i>
        投资理财管理
    </a>
    <a href="/post/help/explain" class="active" class="fold-nav-title" href="/#/post/help/explain">
        <i class="postNav.icon" class="icon-large icon-book"></i>
        名词解释
    </a>
</div>
<p class="user-right-title">注册和登录</p>
<div class="user-right-add-box post-detail-box">
    <div data-accordion class="post-accordion">
        <div accordion-group>
            <div accordion-heading>
            1. 如何成为易简贷注册用户？
            </div>
            （1）进入易简贷首页，点击右上角“注册”按钮。<br/>
            （2）根据提示信息，填写您的用户名、密码、手机号码、短信验证码、邮箱等信息，点击“立即注册”。<br/>
            温馨提示：用户名为用户的展示昵称，一经注册后不可修改。
        </div>
        <div accordion-group>
            <div accordion-heading>
            2. 如何登录易简贷？
            </div>
            （1）注册成为易简贷用户后，您就可以使用账号登录易简贷了。<br/>
            （2）进入易简贷首页，点击右上角“登录”按钮。<br/>
            （3）在登录页面可以通过用户名或绑定的手机号码登录。
        </div>
        <div accordion-group>
            <div accordion-heading>
            3. 如何找回我的密码？
            </div>
            （1）点击首页“登录”-“忘记密码”。<br/>
            （2）使用绑定手机号找回密码。<br/>
            （3）填写绑定手机号，系统会发送短信验证码。<br/>
            （4）输入发送给您的验证码。<br/>
            （5）根据提示，输入2次新密码，点击确认后，重置密码成功，您可使用新密码登录易简贷帐号。<br/>
            注：如果您同时忘了用户名或者注册时使用的手机号码请直接与我们的客服联系（4000311608）。
        </div>
        <div accordion-group>
            <div accordion-heading>
            4. 如何修改密码？
            </div>
            注册后您可以选择“帐户中心”-“账户管理”-“认证安全”-“登录密码”或“交易密码”，修改您所设定的密码。
        </div>
        <div accordion-group>
            <div accordion-heading>
            5.什么是账户交易密码？
            </div>
            账户交易密码是您投资和提现时需要输入的密码。您注册之后，进入“账户中心”-“账户管理”-“认证安全”，即可设置账户交易密码。 账户交易密码是不同于登录密码的资金安全保护机制，是特别用来保护您的资金安全的交易密码。即使您的账户密码处于异常状态，有支付密码保护就可以确保您的账户资金不被他人挪用。
        </div>
        <div accordion-group>
            <div accordion-heading>
            6.忘记了账户交易密码怎么办？
            </div>
            登录易简贷页面选择“账户中心”-“账户管理”-“认证安全”-“交易密码”，根据绑定的手机号码，重置账户交易密码即可。
        </div>
        <div accordion-group>
            <div accordion-heading>
            7.手机收不到验证码怎么办？
            </div>
            手机收不到验证码可能有以下几种情况：<br/>
            （1）绑定手机号码欠费，交费开机即可；<br/>
            （2）手机短信息存储满，删除部分手机短信即可；<br/>
            （3）验证码信息被列入骚扰短信，请到骚扰短信中查看；<br/>
            （4）原绑定的手机号码丢失或销户，可联系客服（4000311608）来更换绑定新的手机号码。<br/>
            若经过以上操作仍然收不到验证码，请联系客服（4000311608）进行处理。
        </div>
        <div accordion-group>
            <div accordion-heading>
            8、收不到注册确认邮件怎么办？
            </div>
            由于您的邮箱系统的误判，易简贷的注册确认邮件可能会被分类到您的电子邮箱的垃圾箱中。请查找后点击确认链接，同时将该邮件标注为“不是垃圾邮件”，以便今后正常收发易简贷发出的其他服务邮件。
        </div>
    </div>
</div>
{% endblock %}


