<!--<link href="../styles/style.css" rel="stylesheet" type="text/css" />-->

<!--<body>-->

	<ion-view title="首页">
		<ion-content>
			<!--<div class="activity-wx">-->
				<section id="activity">
					<div class="banner">
						<img src="../images/wx-9.jpg" />
					</div>
					<div class="container">

						<div class="header">
							<h4>中宝财富运营管理中心研究决定：</h3>
							<p> 中宝财富决定自2015年9月1日起：为了加强投资人资金流动性，中宝财富平台发布债权转让功能，实现债权在 投资者之间流动，更好的为投资者提供全新的投资工具，资金更自由的转入转出。 我们将会逐步完善债转的各项功能，给投资人提供一个优秀的投资环境。
							</p>
						</div>
						<!--01-->
						<div class="main1-top top">
							<div class="top-line">
								<p>01/<span>好友推荐</span></p>
							</div>
							<div class="orenge">
							</div>
							<div class="main1">
								<div class="main1-tu">
									<img src="../images/zhexian.png" />
								</div>
								<div class="main1-content">
									<ul>
										<li>
											<p>一月标</p>
											<p>投标奖励0.2%</p>
										</li>
										<li>
											<p>二月标</p>
											<p>投标奖励0.5%</p>
										</li>
										<li>
											<p>三月标</p>
											<p>投标奖励0.8%</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--02-->
						<div class="main2-top top">
							<div class="top-line">
								<p>02/<span>好友推荐</span></p>
							</div>
							<div class="orenge">
							</div>
							<div class="main2">
								
								<div>
									<p> 您（推荐人）可以通过复制您的邀请码或专属好友邀请链接，邀请被推荐人注 册账号，且在注册后30天内投资，您可获得被推荐人投资金额 年化1.2% 的奖 励，被推荐人可获得投资金额 年化0.6% 的奖励；奖励随被推荐人投标利息回 款按月发放。
									</p>
								</div>
							
							    

							</div>
							<div class="main2-bottom">
								    <div class="main2-bottom-left">
									温馨提示：被推荐人注册30天以后的投资，不获得好友推荐奖励。
								    </div>
								    <div class="main2-bottom-right">
									<a href="/#/truffle/account/invitation">▶立即邀请</a>

								    </div>
							</div>
						</div>
						
						<!--03-->
						<div class=" main3-top top">
							<div class="top-line">
								<p>03/<span>续投奖励</span></p>
							</div>
							<div class="orenge">

							</div>
							<div class="main3">
								<ul>
									<li>
										<p class="t-1">一月标</p>
										<div class=" main3-mid">
											<p class="t-2">奖励投资额</p>
											<p class="t-3">1‰</p>
										</div>

									</li>
									<li>
										<p class="t-1">二月标</p>
										<div class=" main3-mid">
											<p class="t-2">奖励投资额</p>
											<p class="t-3">2‰</p>
										</div>
									</li>
									<li>
										<p class="t-1">三月标</p>
										<div class=" main3-mid">
											<p class="t-2">奖励投资额</p>
											<p class="t-3">3‰</p>
										</div>
									</li>
								</ul>

							</div>
						</div>
						<!--04-->
						<div class=" main4-top top">
							<div class="top-line">
								<p>04/<span>月标累计奖</span></p>
							</div>
							<div class="orenge">

							</div>
							<div class="main4">
								<ul class="m-left">
									<li>
										<p class="l-p">累计投资金额<span>5万以上（含5万）</span></p>
									</li>
									<li>
										<p class="l-p">累计投资金额<span>15万以上（含15万）</span></p>
									</li>
									<li>
										<p class="l-p">累计投资金额<span>25万以上（含25万）</span></p>
									</li>
									<li>
										<p class="l-p">累计投资金额<span>50万以上（含50万）</span></p>
									</li>
									<li>
										<p class="l-p">累计投资金额<span>80万以上（含80万）</span></p>
									</li>
								</ul>
								<ul class="m-right">
									<li>
										<p class="l-p">奖励实际投资金额的<span>千分之1</span></p>
									</li>
									<li>
										<p class="l-p">奖励实际投资金额的<span>千分之2</span></p>
									</li>
									<li>
										<p class="l-p">奖励实际投资金额的<span>千分之3</span></p>
									</li>
									<li>
										<p class="l-p">奖励实际投资金额的<span>千分之4</span></p>
									</li>
									<li>
										<p class="l-p">奖励实际投资金额的<span>千分之4.5</span></p>
									</li>
								</ul>
								<div class="main4-bottom">
									<p>温馨提示：</p>
									<!--<br/>-->
									<p>投资多月标每月末算累计奖励，累计奖励指标根据当月活动而定。例如一月份投资二月标5万元，则一月份累计投资金额为5万元， 二月份累计投资金额为5万元。</p>

								</div>
							</div>

						</div>
					</div>
					</div>
				</section>
			<!--</div>-->
			<div style="height: 40px"></div>
		</ion-content>
	</ion-view>

<!--</body>-->

</html>