<ion-view view-title="资金记录">
  <ion-content>
    <div class="list">
      <a ui-sref=".investment" class="item item-icon-left">
        <i class="icon ion-ios7-paper-outline"></i>
        投资记录
      </a>
      <a ui-sref=".lending" class="item item-icon-left">
        <i class="icon ion-ios7-calculator-outline"></i>
        待收记录
      </a>
      <a ui-sref=".deposit" class="item item-icon-left">
        <i class="icon ion-ios7-albums-outline"></i>
        充值记录
      </a>
      <a ui-sref=".withdraw" class="item item-icon-left">
        <i class="icon ion-social-buffer-outline"></i>
        提现记录
      </a>
      <a ui-sref=".fund" class="item item-icon-left">
        <i class="icon ion-social-usd-outline"></i>
        资金记录
      </a>
    </div>
    <div style="height: 40px"></div>
  </ion-content>
</ion-view>
