<ion-view title="密码修改">
  <ion-content>
    <form class="list" form-produce="formControls.conf">
      <label class="item item-input">
        <input type="password" placeholder="原密码" input-produce="formControls.originalPassword" ng-model="formControls.models.originalPassword">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="新密码" input-produce="formControls.newPassword" ng-model="formControls.models.newPassword">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="重复新密码" input-produce="formControls.confirmPassword" ng-model="formControls.models.confirmPassword">
      </label>
      <div class="padding">
        <button class="button button-positive button-block">
          修改密码
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
