<div class="container">
    <div class="row">
        <div class="span12">
           <!--  <h4 class="lend-theme">
                中宝财富借款
            </h4> -->
            <div class="lend-bj">
                <div class="lend-blue">
                    <a href="/#!/apply">
                        <img src="../images/business.png" height="359" width="363">
                    </a>
                </div>
                <div class="lend-blue lend-beige">
                    <a href="/#!/student-apply">
                        <img src="../images/student.png" height="359" width="363">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


