<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8">
<title>新手上路</title>
<link href="../styles/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
   <div class="container">
   <!--01块-->
       <div class="content_01">
          
           <p class="xinshou">新手上路</p>
       </div>
   <!--02块-->
       <div class="content_02">
           <div class="title_02">
                <img src="../images/1.png" />
           </div>
           <div class="main_02">
                <div class="main_02_01">
                    <p>  “中宝财富P2P借贷平台” （www.zhongbaodai.com）系上海中泉宝泰互联网金融信息服务有限公司旗下品牌。中宝财富借贷理财平台在P2P的基础上 ，
                    首创P2C+O2O的经营新模式，
                    <span>P2C+O2O（person to company+Online to Offline）</span>是新型的理财模式，是P2P网贷的一个新方向。P2C模式是撮合个人与公司或企业的借贷                    模式。其模式是企业发布融资项目，出借人直接针对项目投标，资金由多人筹措而得，它对于解决中小企业的短期、应急贷款具有重要价值。该模式为线                    上线下结合模式，线下与小额贷款公司、投资公司、担保公司、资产回购方合作，发展小微金融理念，助力中小微企业发展。通过强有力的风险控制体系                    、担保公司担保等方式确保线下融资项目的质量和投资客户的资金安全。  
                    </p>
                </div>
                <div class="main_02_02">
                   <img src="../images/01_pic_07.png"/>
                </div>
          </div>
       </div>
   <!--03块-->
       <div class="content_03">
           <div class="title_03">
                <img src="../images/2.png" />
           </div>
              <div class="main_03">
                 <ul> 
                     <li><img src="../images/fengkong.png"/>
                         <div>
                              <p>“云风控” 安全保障</p>
                              <span>旗下风控团队在全国首创了“云风控”风险安全管理系统。“将资金风险降入“零风险时代”。  </span>
                         </div>
                     </li>
                     <li><img src="../images/shouyi.png"/>
                         <div>
                              <p>收益高于银行40倍</p>
                              <span>中宝财富年化收益12%~18%， 种类期限丰富，任您选择，购买即可轻松实现高收益。  </span>
                         </div>
                     </li>
                     <li><img src="../images/money.png"/>
                         <div>
                              <p>雄厚的资金实力</p>
                              <span>公司拥有雄厚的资金实力，全力打造专业资金借贷、银行贷款中介、境外保险代理、金融资本运营的信息咨询和运营管理的综合平台  </span>
                         </div>
                     </li>
                     <li><img src="../images/diya.png"/>
                         <div>
                              <p>完善的抵押担保制度</p>
                              <span>1 严格完善的多重风险把控体系
                                    <br/>
                                    2 多方担保机构全额担保
                                     <br/>
                                    3 资产足额抵押 
                              </span>
                        </div>
                     </li>
                 </ul>
              </div>
       </div>
    <!--04块-->
        <div class="content_04">
            <div class="title_04">
                 <img src="../images/3.png"/>
            </div>
            <div class="main_04">
                <ul>
                    <li class="li_01"><p>汽车质押贷</p><img src="../images/car.png"/></li>
                    <li class="li_02"><p>房产抵押贷</p><img src="../images/house.png"/></li>
                    <li class="li_03"><p class="on">企业诚信贷</p><img src="../images/people.png"/></li>
                    <li class="li_04"><p>银联担保贷</p><img src="../images/safe.png"/></li>
                    <li class="li_05"><p>学仕贷</p><img src="../images/studen.png"/></li>
                </ul>            
             </div>
                  <div class="bottom_04">
                       <a href="/#!/invest"><img src="../images/icon_02.jpg"/></a>
                  </div>
        </div>
    <!--05块-->
    <div class="content_05">
            <div class="title_05">
                 <img src="../images/4.png"/>
            </div>
            <div class="main_05">
                <img src="../images/zhuce.png"/>        
            </div> 
            <div class="bottom_05">
                <a href="/#!/register"><img src="../images/icon_03.png"/></a>
            </div>
   </div>
</body>
</html>
