
<link href="../styles/main.css" type="text/css" rel="stylesheet"/>

<div class="v-video">
				<div class="top-photo">
				</div>
				<div class=" v-main ">

					<!--列表一-->
					<div class="v-lis1">
						<div class="lis1-left">
							<a href="http://video.zhongbaodai.com/video-1.html" target="_blank">
								<div class="video-tu">

								</div>
							</a>
							<div id="video-box">
								<embed src="http://yuntv.letv.com/bcloud.swf" allowFullScreen="true" quality="high" width="640" height="360" align="middle" allowScriptAccess="always" flashvars="uu=e3824a8b0e&vu=73d885c83a&auto_play=1&gpcflag=1&width=640&height=360" type="application/x-shockwave-flash"></embed>
							</div>
						</div>
						<div class="lis1-right">
							<div class="video-content">
								<h3>中宝财富官方视频</h3>
								<p>中宝财富互联网金融平台是上海中泉宝泰金融信息服务有限公司旗下品牌，致力于打造专业资金借贷、银行贷款中介、境外保险代理、金融资本运营的信息咨询和 运营管理的综合平台。专注于发展小微金融理念，助力中小微企业发展。公司自成立以来，吸引并凝聚了一批高素质人才加盟，拥有一批投资、金融、法律、企业管理，财务、电子商务等多领域的专业人才。
								</p>
								<span class="video-date">日期：2015年5月20日
        			</span>
								<a href="http://video.zhongbaodai.com/video-1.html" data-fancy-box target="_blank"><span class="video-play">→点击播放</span></a>

							</div>
						</div>
					</div>

					<!--列表二-->
					<div class="v-lis1">
						<div class="lis1-left">
							<a href="http://video.zhongbaodai.com/video-2.html" target="_blank">
								<div class="video-tu tu-1">

								</div>

							</a>
							<div id="video-box1">
								<embed src="http://yuntv.letv.com/bcloud.swf" allowFullScreen="true" quality="high" width="640" height="360" align="middle" allowScriptAccess="always" flashvars="uu=e3824a8b0e&vu=62f718406c&auto_play=1&gpcflag=1&width=640&height=360" type="application/x-shockwave-flash"></embed>
							</div>
						</div>
						<div class="lis1-right">
							<div class="video-content">
								<h3>中宝财富CEO杨圣贤接受齐鲁画报专访</h3>
								<p>中宝财富CEO杨圣贤先生接受齐鲁画报访谈：作为山东省十分有影响力的企业家围绕中泉宝泰金融信息服务有限公司业务板块、经营理念、企业灵魂、发展历程展开交流，并对互联网金融行业大胆预测及展望。

								</p>
								<span class="video-date">日期：2015年7月30日
        			</span>
								<a href="http://video.zhongbaodai.com/video-2.html" target="_blank"><span class="video-play">→点击播放</span></a>

							</div>
						</div>
					</div>

					<!--列表三-->
					<div class="v-lis1">
						<div class="lis1-left">
							<a href="http://video.zhongbaodai.com/video-3.html" data-fancy-box target="_blank">
								<div class="video-tu tu-2" >

								</div>
							</a>
							<div id="video-box2">
								<embed src="http://yuntv.letv.com/bcloud.swf" allowFullScreen="true" quality="high" width="640" height="360" align="middle" allowScriptAccess="always" flashvars="uu=e3824a8b0e&vu=34e99429f3&auto_play=1&gpcflag=1&width=640&height=360" type="application/x-shockwave-flash"></embed>
							</div>
						</div>
						<div class="lis1-right">
							<div class="video-content">
								<h3>济南城市宣传片</h3>
								<p>泉城济南宣传片，济南市，简称“济”，别称“泉城”，山东省省会。济南因境内泉水众多，被称为“泉城”，素有“四面荷花三面柳，一城山色半城湖”的美誉，是国家历史文化名城，首批中国优秀旅游城市，史前文化龙山文化的发祥地之一。北连首都经济圈，南接长三角经济圈，东西连通山东半岛与华中地区，是环渤海经济区和京沪经济轴上的重要交汇点。
								</p>
								<span class="video-date">日期：2015年8月24日
        			</span>
								<a href="http://video.zhongbaodai.com/video-3.html" data-fancy-box target="_blank"><span class="video-play">→点击播放</span></a>

							</div>
						</div>
					</div>
				</div>
			</div>
